table {
  width: 80%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

thead {
  background-color: #f4f6f8;
}

th, td {
  padding: 10px 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  font-weight: 600;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

td, th {
  text-align: center;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   
}

.container1{
    padding-top: 2%; 
    margin-left: 10%;
  
}
.btn {
  padding: 16px 32px;
  background-color: #1976d2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.btn:hover {
  background-color: #1565c0;
}
.error-msg {
  display: block;
  margin-top: 5px;
  color: #d32f2f;
  font-size: 15px;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

form div {
  margin-bottom: 15px;
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
}


input[type="text"]:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.3);
}

button[type="submit"] {
  background-color: #1976d2; /* primary blue */
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
button[type="submit"]:hover {
  background-color: #1565c0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

button[type="submit"]:disabled{
    background-color: #f1f1f1;
    cursor: not-allowed;
}

.errorPopUp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    position: fixed;
    right: 2%;
    width: 450px;
    height: 50px;
      transition: opacity 2s;
}
.fail{
    background-color: #d32f2f;
}
.success{
    background-color: rgb(78, 143, 13);
}
